
@{
    ViewBag.Title = "Description Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Description Payment</h2>

<table>
    <tr>
        <td>
            <h4>Our motto is make the most convenient for customers, so you only need to subscribe once (pay once), you can comfortably free to send all kind of greeting cards like birthday, new year, festival for a month. Subscribtion for experience our service!</h4>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning", @style = "float:left" })
            <a onClick="doPayment()" class="btn btn-primary btn-circle">
                <i style="color: #fff" class="fa fa-money">Payment</i>
            </a>
        </td>
    </tr>
</table>


<script>
    function doPayment() {
        Swal.fire({
            title: 'Confirm',
            text: "By click OK, you'll accept to pay $10 per month. Are you sure?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Yes, pay it!',
            cancelButtonColor: '#d33'
        }).then((result) => {
            if (result.value) {
                window.location.href = "/User/Payment";
            }
        })
    }
</script>