@model IEnumerable<eGreeting.Models.Card>

@{
    ViewData["Title"] = "Festival";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Festival</h1>
<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {


            <h3></h3>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-card">
                    <img src="~/ImageCard/@item.ImageName" alt="image" class="image" style="width:100%">
                    <div class="middle">
                        <a href="/User/CreateTransaction/@item.CardId" class="btn-select">SELECT</a>
                    </div>
                    <div class="name-card">
                        <h6>@Html.DisplayFor(modelItem => item.CardName)</h6>
                    </div>
                </div>
            </div>

        }

    }
    else
    {
        <h3>Nothing to display</h3>
    }
</div>

