@model IEnumerable<eGreeting.Models.Card>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .blue-text {
        color: #fff6b9 !important;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;
    }

    .fb-ic, .fa-lg {
        color: #4285f4 !important;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff !important
    }

    .font-weight-bold {
        color: #ff0000 !important;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff !important;
    }
</style>

<div class="container">
    <div class="col-sm-12">
        <!-- light-slider -->
        <div class="light-slider-menu">
            <ul id="responsive-banner" style="padding: 0">
                <li>
                    <div>
                        <img src="~/Content/img/banner-1.jpg" style="width: 100%; height: 50%" alt="">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="~/Content/img/banner-2.jpg" style="width: 100%; height: 50%">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="~/Content/img/banner.jpg" style="width: 100%; height: 50%">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Section Our Team -->
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5" style="color: #32f325 !important;">About us</h2>
        <div style="text-align:center">
            <p class="grey-text w-responsive mx-auto mb-5" style="text-align:justify; color: #000 !important">
                <h5>Greeting cards are usually given on special occasions such as Birthday or other holidays, such as New Year and Festival. There is many kind of greeting card, but today, information technology is growing, we do not need to go to the greeting card shop but still can send greeting cards with just a mouse click.<br> With e-greeting cards, we make your celebrates easier, saving your cost, time, effort is our top priority!</h5>
            </p>
        </div>
        <!-- Section description -->
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column Phuc-->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/Content/AvatarTeam/Avatar-Phuc.PNG" class="rounded-circle z-depth-1"
                         alt="Avatar-Phuc" style="width:60%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Le Gia Phuc</h5>
                <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>
                <p class="grey-text">

                </p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic" style="">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg tw-ic">
                        <i class="fab fa-twitter"> </i>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->
            <!-- Grid column Dung-->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/Content/AvatarTeam/Avatar-Dung.png" class="rounded-circle z-depth-1"
                         alt="Avatar-Dung" style="width:60%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Bui Duc Dung</h5>
                <p class="text-uppercase blue-text"><strong>Web developer</strong></p>
                <p class="grey-text">
                </p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->
            <!-- Grid column Phuc-->
            <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/Content/AvatarTeam/Avatar-Vi.png" class="rounded-circle z-depth-1"
                         alt="Avatar-Vi" style="width:60%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Phuong The Vi</h5>
                <p class="text-uppercase blue-text"><strong>Web developer</strong></p>
                <p class="grey-text">
                </p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram"> </i>
                    </a>
                    <!-- Dribbble -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->
            <!-- Grid column Vi-->
            <div class="col-lg-3 col-md-6">
                <div class="avatar mx-auto">
                    <img src="~/Content/AvatarTeam/Avatar-Phuong.jpg" class="rounded-circle z-depth-1"
                         alt="Avatar-Phuong" style="width:60%">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Ngo Duy Phuong</h5>
                <p class="text-uppercase blue-text"><strong>Backend developer</strong></p>
                <p class="grey-text">
                </p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                    <!-- Github -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-github"> </i>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--/.Section Our Team -->
    <!-- Section: Contact v.1 -->
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5" style="color: #4a46e5 !important">Contact Us</h2>

        <!-- Grid column -->
        <!-- Grid column -->
        <div class="container">

            <!--Google map-->
            <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3257176556144!2d106.6641388146226!3d10.78634619231479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed23ca5d8db%3A0x24d414f45e5a523!2zNTkwIEPDoWNoIE3huqFuZyBUaMOhbmcgOCwgUGjGsOG7nW5nIDExLCBRdeG6rW4gMywgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1564456157755!5m2!1svi!2s" frameborder="0" style="border:0; width:100%; height:400px" allowfullscreen></iframe>
            </div>
            <!-- Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="btn-floating accent-1">
                        <i class="fas fa-map-marker-alt" style="font-size: 50px; color: #4285f4"></i>
                    </a>
                    <p>Ho Chi Minh city, 70000</p>
                    <p class="mb-md-0">Vietnam</p>
                </div>
                <div class="col-md-4">
                    <a class="btn-floating accent-1">
                        <i class="fas fa-phone" style="font-size: 50px; color: #4285f4"></i>
                    </a>
                    <p>+ 84 234 567 89</p>
                    <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
                </div>
                <div class="col-md-4">
                    <a class="btn-floating accent-1">
                        <i class="fa fa-envelope" style="font-size: 50px; color: #4285f4"></i>
                    </a>
                    <p>info@eGreeting.com</p>
                    <p class="mb-0">sale@eGreeting.com</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

    </section>
    <!-- Section: Contact v.1 -->

</div>